.navbar-brand img {
    max-width: auto !important;
    max-height: unset;
}

.navbar-brand img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

div#mainnav.fixed-header  {
    background: #00000057;
}

.product-index .main-menu li.root-level>a,
.index .main-menu li.root-level>a{
    color: #fff;
}

body:not(.index):not(.product-index) .navbar-brand img {
    filter: invert(1);
}
.main-nav-container.fixed-pinned .navbar-brand img {
    width: auto !important;
}

.sicon-menu:before {
    color: #ffff;
}

.index-breadcrumb * {
    color: #fff;
}

@media(max-width:768px){
.store-header{
  background: #000 !Important;
  position: relative !important
}
  .navbar-brand img {
    max-width: 50px;
    height: auto;
}
}

.AS_special_product .h-1 {
    height: 3rem;
}

.s-product-card-image img {
    -o-object-fit: fill;
    object-fit: fill;
}

/* Carousel */

.s-block:nth-of-type(1) {
    margin-top: 0 !important;
}

.s-block--photos-slider .s-slider-block__title-nav {
    display: none !important;
}

.s-block--photos-slider * {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.s-block--photos-slider .swiper-slide {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}

.s-button-primary-outline,
.s-button-primary,
.s-fast-checkout-button.outline{
    color: #fff ;
}

salla-mini-checkout-widget.s-add-product-button-mini-checkout.s-mini-checkout.hide-scroll.hydrated {
    background: #fff;
    border: 1px solid;
}
