/* ----------------- Public ---------------------*/
:root {
  --logo: url(https://i.ibb.co/n8gS484s/0831e970-baf6-4a86-ab8c-65f52d7c-removebg-preview.png);
  --bg: #ece3da;
  --bg-img: url();
  --header-bg: #ece3da;
  --header-color: #000;
  --feat-bg: #fff;
  --feat-color: #000;
  --footer-bg: #957671;
  --color-primary: #957671 !important
;
}
body {
  background-color: var(--bg) !important;
}
.app-inner {
  background-image: var(--bg-img) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center bottom;
}

/* ----------------- Header ---------------------*/
.navbar-brand img {
  max-height: 6rem;
}
.main-nav-container.fixed-pinned .navbar-brand img {
  max-height: 70px;
}
custom-main-menu {
  min-height: unset;
}
.main-nav-container {
  min-height: 0;
}

.s-user-menu-trigger {
  background-color: transparent;
}
.top-navbar,
#mainnav,
.inner,
.sub-menu {
  background: var(--header-bg) !important;
}
.top-navbar,
#mainnav,
#mainnav i:before,
#mainnav b,
#mainnav a {
  background: var(--header-bg) !important;
}
#mainnav a:hover {
  opacity: 0.7;
}
.s-user-menu-login-btn svg {
  fill: var(--header-color) !important;
}

/* Carousel */
.s-block:nth-of-type(1) {
  margin-top: 0 !important;
}
.s-block--photos-slider .s-slider-block__title-nav {
  display: none !important;
}
.s-block--photos-slider * {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.s-block--photos-slider .swiper-slide {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}
.s-block--features__item:first-child {
  grid-column: 1;
}

/* -------------------- Categories ---------------------*/

.s-block--banners .grid {
  max-width: 660px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.s-block--banners .banner-entry {
  height: 450px;
}

@media (max-width: 992px) {
  .s-block--banners .banner-entry {
    height: 400px;
  }
}
@media (max-width: 480px) {
  .s-block--banners .grid {
    gap: 8px !important;
  }
  .s-block--banners .banner-entry {
    height: 300px;
  }
}
@media (min-width: 640px) {
  .two-row .banner-entry:first-child {
    grid-row: span 1 / span 1;
  }
}
@media (min-width: 768px) {
  .square-photos-grid--featured-3,
  .square-photos-grid--featured-5 {
    grid-auto-rows: unset;
  }
  .square-photos-grid--featured-3 > .banner-entry:first-child,
  .square-photos-grid--featured-5 > .banner-entry:first-child {
    grid-row: unset;
  }
}
/* Transparent Banner */
.banner-entry,
.banner--fixed img {
  background-color: transparent !important;
}

/* -------------- Products -----------------------*/

/* Product Card */
.s-product-card-entry {
  background-color: #fbfbfb;
  border-radius: 0.5rem !important;
  border: 1px solid #dfdfdf;
}
.s-product-card-image {
  background-color: transparent !important;
}
.s-product-card-entry:hover img {
  scale: 1.2;
}
.s-product-card-entry img {
  transition: all 0.3s;
}
.slider-bannars-moving h2,
.s-product-card-content-title {
  text-align: center !important;
}
.s-product-card-content-sub {
  justify-content: center;
}
.s-product-card-content-title a {
  color: #000 !important;
}
body:not(body.product-single)
  .s-button-element:not(.s-product-card-wishlist-btn) {
  background: var(--color-primary);
  color: #fff !important;
  border-radius: 0.5rem;
}
.s-product-card-vertical .s-product-card-wishlist-btn button:hover {
  background-color: var(--color-primary) !important;
}
.s-product-card-vertical
  .s-product-card-wishlist-btn
  button:hover
  .sicon-heart {
  color: #fff !important;
}
@media (max-width: 600px) {
  .s-products-slider-card {
    width: 55%;
  }
}

/* ----------------------- Features -------------------- */

.s-block--features .md\:grid-cols-\[repeat\(3\2c minmax\(0\2c 1fr\)\)\] {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
.s-block--features__item .feature-icon {
  background-color: transparent;
  border-radius: 8px !important;
}
.s-block--features__item .feature-icon i {
  color: var(--color-primary);
}
.s-block--features__item p {
  display: none !important;
}
@media (min-width: 1024px) {
  .s-block--features__item .feature-icon i {
    font-size: 2.875rem;
  }

  .s-block--features__item h2 {
    color: #63421c;
    font-size: 1.5rem;
  }
}

/* -------------------- Footer ----------------------- */
.store-footer,
.store-footer .store-footer__inner {
  background: var(--footer-bg) !important;
}
footer a.flex.items-center.m-0 h3:after {
  content: url(https://i.ibb.co/VYHqnPdF/0831e970-baf6-4a86-ab8c-65f52d7c-removebg-preview-1.png);
}
footer * {
  color: #705447 !important;
}
.s-social-link a,
.s-contacts-icon {
  background: #fff;
  height: 2.5rem;
  width: 2.5rem;
  border-width: 0;
}
.s-social-link a svg,
.s-contacts-icon svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: var(--color-primary);
}
footer a.flex.items-center.m-0 h3 {
  font-size: 0 !important;
}
@media (min-width: 1024px) {
  footer .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 769px) {
  footer * {
    margin: 0 auto;
    text-align: center;
  }
}

/* ------------------- Special Heading ------------------------- */

.s-reviews-header:after,
.s-block__title h2:after,
.s-slider-block__title h2:after {
  content: "اكتشفي مجموعاتنا المتنوعة";
  display: block;
  font-size: 20px;
  color: #484848;
  font-weight: 500;
  margin-top: 8px;
}
.s-reviews-header {
  font-size: 32px;
  color: var(--color-primary);
}

.s-reviews-header:after {
  content: "اكتشفي ما يقوله عملاؤنا عن تجربتهم معنا";
}
.s-reviews-header-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.s-slider-block__title h2:where([dir="rtl"], [dir="rtl"] *) {
  padding-left: 0;
}
.s-slider-block__title {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.s-slider-block__title-left {
  display: none;
}
.s-slider-block__title h2 {
  color: var(--color-primary) !important;
}
@media (max-width: 768px) {
  .s-slider-block__title h2:after,
  .s-block__title h2:after {
    font-size: 12px;
  }
}
.s-slider-block__title h2,
.s-block__title h2 {
  font-size: 48px !important;
  position: relative;
}

.s-block__title {
  justify-content: center !important;
}

.s-block__title * {
  text-align: center !important;
}

.s-slider-block__title h2,
.s-block__title h2 {
  color: var(--color-primary);
  font-size: 48px !important;
  position: relative;
}

@media (max-width: 1024px) {
  .s-slider-block__title h2,
  .s-block__title h2 {
    font-size: 32px !important;
    color: var(--color-primary);
  }
}

/* Hover Effect */
.banner-entry > div {
  background-repeat: no-repeat;
  display: inline-block;
  transition: 0.3s;
}

.banner-entry > div:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.banner-entry > div:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.banner-entry > div:active:after {
  opacity: 0;
}

/* ---------------- Loading Screen ------------------------*/
.index::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 9 !important;
  width: 100%;
  height: 100%;
  background: var(--bg) var(--logo) no-repeat center / 250px !important;
  animation: logobg 3s forwards;
}

@keyframes logobg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
