.woocommerce-loop-product__title {
  display: block;
  max-width: 100% !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.premium-woo-atc-button .kadence-svg-iconset{
	display:none
}
