.woocommerce-loop-product__title {
  	  display: -webkit-box !important;
      -webkit-line-clamp: 1 !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
}

.premium-woo-atc-button .kadence-svg-iconset{
	display:none
}
